In [ ]:
# Vignesh S - 19BEC1391
# Random Forest.

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
iris=load_iris()

In [2]:
data=pd.DataFrame({'sepal length':iris.data[:,0],'sepal width':iris.data[:,1],'petal length':iris.data[:,2],'petal width':iris.data[:,3],'species':iris.target})

In [3]:
data.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [4]:
from sklearn.model_selection import train_test_split
X=data[['sepal length','sepal width','petal length','petal width']]
y=data['species']

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [6]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

In [7]:
from sklearn import metrics
print("accuracy:",metrics.accuracy_score(y_test,y_pred))

accuracy: 0.9777777777777777

In [8]:
clf.predict([[3,5,4,2]])

array([1])